<div class="fromContainer">
  <form action="/notify-me-when-in-season" method="post">
    <input type="hidden" name="sku" value="{{sku}}">
    <div>
      <label for="fieldEmail">Email: </label>
      <input required type="text" id="fieldEmail" name="email">
    </div>
    <div>
      <button type="submit">Submit</button>
    </div>
  </form>
</div>
